body{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.6);
  border-bottom: 1px solid #fff;
}
nav ul{
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li a{
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover{
  background: rgba(0,0,0,0.7);
  border-radius: 6px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  background: black;
  font-family: 'Poppins', sans-serif;
}
.slides{
  margin-top: 100px;
  display:-webkit-box;
  display:flex;
  width:100%;
  height:100vh;
}
.slides .slide{
  position:relative;
  -webkit-box-flex: 1;
  flex:1;
  cursor: pointer;
  -webkit-filter:grayscale(1);
  filter:grayscale(1);
  -webkit-transition:0.5s ease-in-out;
  transition:0.5s ease-in-out;
}
.slides .slide:nth-child(1){
  background:url("London.jpg") center/cover;
}
.slides .slide:nth-child(1):hover{
  -webkit-flex-grow: 5;
  flex-grow: 5;
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
}
.slides .slide:nth-child(1):hover .content{
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition:0.5s 0.4s;
  transition:0.5s 0.4s;
}
.slides .slide:nth-child(2){
  background:url("Los-Angeles-4K.jpg") center/cover;
}
.slides .slide:nth-child(2):hover{
  -webkit-flex-grow: 5;
  flex-grow: 5;
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
}
.slides .slide:nth-child(2):hover .content{
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition:0.5s 0.4s;
  transition:0.5s 0.4s;
}
.slides .slide:nth-child(3){
  background:url("sunset-at-twelve-apostles-hd-1080P-wallpaper.jpg") center/cover;
}
.slides .slide:nth-child(3):hover{
  -webkit-flex-grow: 5;
  flex-grow: 5;
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
}  
.slides .slide:nth-child(3):hover .content{
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition:0.5s 0.4s;
  transition:0.5s 0.4s;
}
.slides .slide:nth-child(4){
  background:url("wp3799501.jpg") center/cover;
}
.slides .slide:nth-child(4):hover{
  -webkit-flex-grow: 5;
  flex-grow: 5;
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
}  
.slides .slide:nth-child(4):hover .content{
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition:0.5s 0.4s;
  transition:0.5s 0.4s;
}
.slides .slide:nth-child(5){
  background:url("sami-takarautio-UZOpP-YHe9Q-unsplash.jpg") center/cover;
}
.slides .slide:nth-child(5):hover{
  -webkit-flex-grow: 5;
  flex-grow: 5;
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
}  
.slides .slide:nth-child(5):hover .content{
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition:0.5s 0.4s;
  transition:0.5s 0.4s;
}
.slides .slide .content{
  position: absolute;
  bottom: 0;
  margin:2.5em;
  padding:2em;
  text-shadow: 0 2px 2px #000;
  color:#fff;
  opacity: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition:0.5s;
  transition:0.5s;
}

.feedback{
  background-color: white;
}
.about-section{
  background: url(jeff-brown-xOj6_Ha1_R8-unsplash.jpg) no-repeat left;
  background-size: 100%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 40%;
  float: right;
  padding: 150px;
}

.inner-container h1{
  position: relative;
  top: 150px;
  right: 700px;
  padding-top: 200px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.text{
  font-family:'PT Sans', sans-serif;
  position: relative;
  top: 150px;
  right: 700px;
  font-size: 20px;
  color: white;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}
.feedback{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.feeemdbacks{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feeemdbacks span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.feedback-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.feedback-box{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.comments p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.feedback-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
::selection{
  color: white;
  background-color: black;
}